html {
    background: #FFF url(../img/background.png);
}

body {
    background: #FFF;
    border: 1px solid #999;
    border-top: none;
    box-shadow: 0 0 12px #CCC;
}

header {
    border-bottom: 3px solid #017abf;
}

footer {
    background: #333;
    border-top: 3px solid #555;
    color: #FFF;
    margin-top: 20px;
    padding: 20px;
    text-align: right;
}

#title {
    /* background: linear-gradient(to bottom, deepskyblue, #0789d4); */
    color: #333;
    text-shadow: 0 0 2px #AAA;
    height: 80px;
    position: relative;
    font-size: 45px;
}

#descriptionTextArea {
    height: 70px;
}

.information {
    background: linear-gradient(to bottom, #0789d4, #1ca9f9);
    border-bottom: 3px solid #017abf;
    color: #222;
    padding-bottom: 20px;
}

.information h2 {
    color: #FFF;
}

.menuButton, .vote {
    width: 100%;
}

.vote {
    margin: 10px 0;
}

.location {
    border-top: 3px solid #E0E0E0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.donotcare {
    margin-top: 25px;
}

.rating {
    margin: 5px 0;
    text-align: center;
}

.previewArea {
    text-align: center;
}

.previewImage {
    margin-bottom: 15px;
    max-width: 150px;
}

.recordTable tbody tr {
    cursor: pointer;
}

.googleMap {
    margin: 0 auto;
}