html {
    background: #FFF url(../img/background.png);
}

body {
    background: #FFF;
    border: 1px solid #999;
    border-top: none;
    box-shadow: 0 0 12px #CCC;
}

header {
    border-bottom: 3px solid #017abf;
}

footer {
    background: #333;
    border-top: 3px solid #555;
    color: #FFF;
    margin-top: 20px;
    padding: 20px;
    text-align: right;
}

#title {
    /* background: linear-gradient(to bottom, deepskyblue, #0789d4); */
    color: #333;
    text-shadow: 0 0 2px #AAA;
    height: 80px;
    position: relative;
    font-size: 45px;
}

#title a, #title a:hover {
    color: #333;
    text-decoration: none;
}

#descriptionTextArea {
    height: 70px;
}

.information {
    background: linear-gradient(to bottom, #0789d4, #1ca9f9);
    border-bottom: 3px solid #017abf;
    color: #222;
    padding-bottom: 20px;
}

.location, .restaurant {
    margin-bottom: 20px;
}

.information h2, .information h1 {
    color: #FFF;
}

.information .menuButton {
    width: 200px;
}

.menuButton, .vote {
    width: 100%;
}

.vote {
    margin: 10px 0;
}

.locationBlock {
    border-top: 3px solid #E0E0E0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.donotcare {
    margin-top: 25px;
}

.rating {
    margin: 5px 0;
    text-align: center;
}

.previewArea {
    text-align: center;
}

.previewImage {
    margin-bottom: 15px;
    max-width: 150px;
}

.recordTable tbody tr {
    cursor: pointer;
}

.googleMap {
    display: block;
    margin: 0 auto;
}

.iconButton {
    border: 1px solid #CCC;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    padding: 5px 5px 5px 24px;
}

.createButton {
    background: #EAEAEA url(../img/icons/plus.png) no-repeat;
}

/* 404 page styles */
.pal {
    margin: 15px auto;
    width: 154px;
}

.pal-panel {
    background: linear-gradient(to bottom, #202020, #090909);
    height: 334px;
    border: 2px solid #666;
    margin: 15px auto 0;
}

.pal-label {
    border: 1px solid #45A1DC;
    font-size: 15px;
    height: 30px;
    letter-spacing: 1.2px;
    margin: 20px auto 0;
    width: 112px;
}

.pal-name {
    background: #45A1DC;
    border-right: 1px solid #45A1DC;
    text-align: right;
    padding-right: 4px;
}

.pal-version {
    text-align: left;
    padding-left: 4px;
}

.pal-name, .pal-version {
    color: #FFF;
    float: left;
    height: 28px;
    padding-top: 4px;
    width: 55px;
}

.pal-eye-socket {
    background: #666 linear-gradient(to bottom, #CCC, #0E0D0D);
    border: 1px solid #242424;
    border-radius: 118px;
    box-shadow: 0 0 6px #3C3C3C;
    height: 118px;
    margin: 140px auto 0;
    padding: 4px;
    width: 118px;
}
.pal-eye {
    background: radial-gradient(40px, #9CAA00 0%, #F00 24%,#000 108%);
    border: 2px solid #727272;
    border-radius: 110px;
    box-shadow: 0 0 6px #666;
    margin: 0px auto;
    height: 110px;
    width: 110px;
}

.pal-bottom {
    background: #333 url(../img/404/pal-bottom.png) 0px 1px;
    height: 103px;
    border: 2px solid #666;
    border-top: 0
}

.errorContainer {
    text-align: center;
}